In [52]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

from collections import Counter
from sklearn.datasets import make_classification
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression

from sklearn.metrics import mean_squared_error

In [40]:
diamond_train= pd.read_csv('./pm3_data/diamonds_train.csv')
diamond_train

,index_id,cut,color,clarity,depth,carat,table,x,y,z,price,city
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Premium,J,VS2,62.4,1.21,58.0,6.83,6.79,4.25,4268,Dubai
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Very Good,H,VS2,63.0,0.32,57.0,4.35,4.38,2.75,505,Kimberly
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Fair,G,VS1,65.5,0.71,55.0,5.62,5.53,3.65,2686,Las Vegas
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Good,D,SI1,63.8,0.41,56.0,4.68,4.72,3.00,738,Kimberly
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Ideal,G,SI1,60.5,1.02,59.0,6.55,6.51,3.95,4882,Dubai
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,Ideal,G,VS1,62.7,1.34,57.0,7.10,7.04,4.43,10070,Antwerp
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,Good,F,SI2,57.1,2.02,60.0,8.31,8.25,4.73,12615,Madrid
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,Ideal,H,SI1,62.7,1.01,56.0,6.37,6.42,4.01,5457,Kimberly
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,Ideal,J,VS1,61.9,0.33,54.3,4.45,4.47,2.76,456,Kimberly
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,Ideal,I,SI1,62.0,1.24,58.0,6.83,6.88,4.25,6232,London

In [41]:
diamond_train = diamond_train.drop(['city','x','y','z'], axis =1)

In [49]:
diamond_train.describe()

              depth         carat         table         price
count  40455.000000  40455.000000  40455.000000  40455.000000
mean      61.752841      0.797706     57.446133   3928.444469
std        1.431725      0.475544      2.233535   3992.416147
min       43.000000      0.200000     43.000000    326.000000
25%       61.000000      0.400000     56.000000    945.000000
50%       61.800000      0.700000     57.000000   2397.000000
75%       62.500000      1.040000     59.000000   5331.000000
max       79.000000      4.500000     95.000000  18823.000000

In [42]:
cat_features = ['cut','color','clarity']
dtrain_one_hot_encoding = pd.get_dummies(diamond_train[cat_features], 
                                          columns=['cut','color','clarity'], 
                                          drop_first=True)
dtrain_one_hot_encoding

target = diamond_train['price']

In [43]:
dtrain_one_hot_encoding.columns

Index(['cut_Good', 'cut_Ideal', 'cut_Premium', 'cut_Very Good', 'color_E',
       'color_F', 'color_G', 'color_H', 'color_I', 'color_J', 'clarity_IF',
       'clarity_SI1', 'clarity_SI2', 'clarity_VS1', 'clarity_VS2',
       'clarity_VVS1', 'clarity_VVS2'],
      dtype='object')

In [44]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(dtrain_one_hot_encoding)
scaled_data

array([[-0.3155308 , -0.81809533,  1.7155123 , ...,  1.83697015,
        -0.27132638, -0.32193049],
       [-0.3155308 , -0.81809533, -0.58291625, ...,  1.83697015,
        -0.27132638, -0.32193049],
       [-0.3155308 , -0.81809533, -0.58291625, ..., -0.54437466,
        -0.27132638, -0.32193049],
       ...,
       [-0.3155308 ,  1.22235144, -0.58291625, ..., -0.54437466,
        -0.27132638, -0.32193049],
       [-0.3155308 ,  1.22235144, -0.58291625, ..., -0.54437466,
        -0.27132638, -0.32193049],
       [-0.3155308 ,  1.22235144, -0.58291625, ..., -0.54437466,
        -0.27132638, -0.32193049]])

In [45]:
target

0         4268
1          505
2         2686
3          738
4         4882
         ...
40450    10070
40451    12615
40452     5457
40453      456
40454     6232
Name: price, Length: 40455, dtype: int64

In [46]:
X_train, X_validation, y_train, y_validation = train_test_split(scaled_data, target, random_state = 42, test_size = 0.2)

In [47]:
# Se entrena el modelo:

model = LinearRegression()
model.fit(X = X_train, y = y_train)

LinearRegression()

In [48]:
# MÃ©trica de error:

# Primero se hace predicciÃ³n del 20%:
y_pred = model.predict(X_validation)

mean_squared_error(y_validation, y_pred, squared=False)

3899.3667352173143

In [ ]:
# PredicciÃ³n:

diamond_test= pd.read_csv('./pm3_data/diamonds_test.csv')

cat_features = ['cut', 'color', 'clarity', 'city']
dtest_one_hot_encoding = pd.get_dummies(diamond_test[cat_features], 
                                          columns=['cut', 'color', 'clarity', 'city'], 
                                          drop_first=True)

scaler = RobustScaler()
scaled_data_test = scaler.fit_transform(dtest_one_hot_encoding)
scaled_data_test


y_pred = model.predict(scaled_data_test)

In [27]:
diamond_test.shape

(13485, 11)

In [28]:
# Submission

submission = pd.DataFrame({'id': diamond_test['id'], 'price': y_pred})

In [29]:
submission.head()

   id        price
0   0  3909.134214
1   1  4770.339451
2   2  5062.081592
3   3  3872.222835
4   4  3652.021145

In [37]:
submission.to_csv ('./pm3_data/submission1.csv', index=False)